@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Oswald&family=Roboto&display=swap');

:root {
    --blackcolor:    #2D2E3D;
    --whitecolor:    #f1f1f1;
    --graycolor:     #999;
    --textcolor:     #f1f1f1;
    --bordercolor:   #f1f1f1;
    --midnightblack: #1E2024;
    --cosmicred:     #A91D4E;
    --starlightblue: #53BCF5;
    --galacticpurple:#472D96;
    --novapink:      #EB3E99;

    --defaultfont: 'Roboto', sans-serif;
}

body {
    margin: 15px 10px 15px 10px;
    background-color: var(--blackcolor);
    font-family: var(--defaultfont);
    font-size: 14px;
    color: var(--textcolor);
}

h1 {
    font-family: var(--defaultfont);
    font-size: 18px;
    color: var(--whitecolor);    
}

h2 {
    font-family: var(--defaultfont);
    font-size: 16px;
    color: var(--graycolor);    
}

p {
    font-family: var(--defaultfont);
    font-size: 16px;
    color: var(--graycolor);
    text-align: justify;
}

div {
    font-family: var(--defaultfont);
    font-size: 16px;
    color: var(--whitecolor);
    font-weight: bold;
}

div > p {
    color: var(--whitecolor);
    padding: 10px 10px;
    margin: auto;
}

div > p.totalprice {
    color: var(--whitecolor);    
}

.add {    
    background-color: var(--blackcolor);
    border: 1px solid var(--whitecolor);  
    border-radius: 28px 28px 28px 28px;
    margin: 30px;
    width: 90%;
    height: 60px;  
}

.add > p {    
    color: var(--whitecolor);
    text-align: center;   
}

.flex-container {    
    height: auto;
    display: flex;
    width: 50%;    
}

.colors {   
    display: flex;
    height: auto;
    box-sizing: border-box;        
    justify-content: center;
    align-items: center;
    margin-right: 50px; 
    padding: 0;  
}

.colortitle {
    margin-bottom: 10px;
}

.responsive-img {
    width: 10%;
    height: auto;
} 

.midnightblack {
    width: 30px;
    height: 30px;
    background-color: var(--midnightblack);
    margin: 10px;    
    border-radius: 50%;        
}

.midnightblack:hover {
    border: 2px solid var(--whitecolor);        
}

.cosmicred {
    width: 30px;
    height: 30px;
    background-color: var(--cosmicred);
    margin: 10px;
    border-radius: 50%;
}

.cosmicred:hover {
    border: 2px solid var(--whitecolor);
}

.starlightblue {
    width: 30px;
    height: 30px;
    background-color: var(--starlightblue);
    margin: 10px;
    border-radius: 50%;
}

.starlightblue:hover {
    border: 2px solid var(--whitecolor);
}

.galacticpurple {
    width: 30px;
    height: 30px;
    background-color: var(--galacticpurple);
    margin: 10px;
    border-radius: 50%;
}

.galacticpurple:hover {
    border: 2px solid var(--whitecolor);
}

.novapink {
    width: 30px;
    height: 30px;
    background-color: var(--novapink);
    margin: 10px;
    border-radius: 50%;    
}

.novapink:hover {     
    border: 2px solid var(--whitecolor); 
    display: ; 
}

.quantity {
    display: flex;
    margin-top: 8px;
    margin-left: 8px;    
}

.quantitytitle {
    margin-bottom: 10px;
}

.increment {
    color: var(--whitecolor);
    width: 30px;
    height: 31px;
    margin: auto;
    padding: auto;
    text-align: center;
    background-color: var(--blackcolor);
    border: 1px solid var(--whitecolor);
    border-radius: 0px 15px 15px 0px;
}

.decrement {
    color: var(--whitecolor);
    width: 30px;
    height: 31px;
    margin: auto;
    padding: auto;
    text-align: center;
    background-color: var(--blackcolor);
    border: 1px solid var(--whitecolor);
    border-radius: 15px 0px 0px 15px;
}

.increment:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);
}

.decrement:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);
}

.increment:hover {
    background-color: var(--graycolor);
}

.decrement:hover {
    background-color: var(--graycolor);
}

.add:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);
}

#counter {
    color: var(--whitecolor);
    width: 50px;
    height: 29px;
    text-align: center;
    font-family: var(--defaultfont);
    font-weight: bold;
    margin: auto;
    padding: auto;
    background-color: var(--blackcolor);
    border: 1px solid var(--whitecolor);
}

#totalprice {
    margin: 15px 10px 15px 10px;    
}



